.submit-form__wrapper {
    display: flex;
    flex-direction: row;
    color: white;
    width: 30rem;
    justify-content: center;
    align-items: center;
    /* height: 20rem; */
    margin: 0 auto;
    padding-bottom: 3rem;

}

button {
    font-family: InterRegular;
}

/* input fields: */
.submit-form {
    /* padding-top: 50px; */
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}

.submit-form__fieldset-container {
    display: flex;
}

.submit-form__fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.submit-form__ul {
    list-style-type: none;
}

.submit-form__ul>* {
    margin-top: 9px;
}

.submit-form__error {
    color: red;
    margin: 0;
}

.submit-form__success {
    color: greenyellow;
    margin: 0;
}

.submit-form__label {}

.submit-form__input {
    height: 32px;
    font-size: 18px;
    border-radius: 3%;
    border: none;
}

.submit-form__submit {
    align-self: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    flex-direction: column;
    background-color: #97ffb3;
    color: #11133C;
    border: none;
    border-radius: 3px;
    padding: 0.7rem 1.2rem;
    font-weight: 400;
    font-size: 16px;
    font-kerning: none;
}

.submit-form__submit:hover:not(:disabled),
.submit-form__submit:focus:not(:disabled) {
    cursor: pointer;
    background-color: #3b5e8a;
}

.submit-form__submit:disabled {
    opacity: 0.5;
}