@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.leaderboard--wrapper {
    margin: 0 auto;
    width: auto;
    width: 30rem;
}

.leaderboard__header {
    text-align: center;
    color: #ffff33;
    font-size: 42px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0 auto;
    /* font-family: InterRegular; */
    margin-bottom: 1rem;
    font-family: 'Rubik Mono One', sans-serif;
}

.no_scores_container {
    text-align: center;
    margin-bottom: 1rem;
}

.leaderboard {
    padding-left: 0;
    padding-top: 16px;
    padding-bottom: 25px;
}

.leaderboard-item {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid white;
    font-size: large;
}

.leaderboard-item span:first-child {
    margin-right: 16px;
    font-weight: 600;
    width: 30px;

}

.leaderboard-item span:last-child {
    justify-self: flex-end;
    margin: 0 auto;
    margin-right: 0;
    font-weight: 600;
}