@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.leaderboard--wrapper {
    margin: 0 auto;
    width: auto;
    width: 30rem;
}

.leaderboard__header {
    text-align: center;
    color: #F9A86F;
    font-size: 42px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0 auto;
    /* font-family: InterRegular; */
    margin-bottom: 1rem;
    font-family: 'Rubik Mono One', sans-serif;
}

.no_scores_container {
    text-align: center;
    margin-bottom: 1rem;
}

.leaderboard {
    display: flex;
}

.leaderboard-item {
    flex: 1;
    margin-top: 0.2rem;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid #F9A86F;
}