@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

.leaderboard--wrapper {
    margin: 0 auto;
    width: auto;
    width: 30rem;
}

.leaderboard__header {
    text-align: center;
    color: #F9A86F;
    font-size: 42px;
    margin: 0;
    font-weight: 500;
    margin-bottom: 20px;
    margin: 0 auto;
    /* font-family: InterRegular; */
    margin-bottom: 1rem;
    font-family: 'Rubik Mono One', sans-serif;
}

.no_scores_container {
    text-align: center;
    margin-bottom: 1rem;
}

.leaderboard-row {
    display: flex;
    margin: 0.7rem 0rem;
    border: #F9A86F 1px solid;
    background-color: #F9EAD4;
    padding: 0.2rem;
    border-radius: 0.5rem;
    color: #11133C;
}

.leaderboard-row-new {
    animation: blink 6s;
}

.leaderboard-item {
    flex: 1;
    padding: 0.1rem 0.8rem;
    align-items: center;
    display: flex;
    align-items: center;
}

.name-item {
    flex: 7;
}

.place-item {
    border-right: 2px #F9A86F solid;
}

.last-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@keyframes blink {

    0%,
    75% {
        transform: scale(1.1);
        opacity: 1;
    }

    100%,
    25% {
        transform: scale(1);
        opacity: 1;
        background-color: #F9A86F;
    }
}