@font-face {
    font-family: InterRegular;
    src: url(../public/fonts/Inter-Regular.ttf) format("truetype");
}

@font-face {
    font-family: InterExtraBold;
    src: url(../public/fonts/Inter-ExtraBold.ttf) format("truetype");
}

@font-face {
    font-family: InterBold;
    src: url(../public/fonts/Inter-Bold.ttf) format("truetype");
}

body {
    /* background: linear-gradient(180deg, #E0991D 0%, #E0A193 102.2%) no-repeat; */
    background-color: #F9EAD4;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: 32px;
    padding-top: 10vh;
    font-family: InterRegular;
    font-weight: 400;
}

.button {
    font-family: InterRegular;
    border-radius: 3px;
    border: none;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    background-color: #F9A86F;
    margin: 0.5rem;
    color: #11133C;
}

.button:hover {
    background-color: #f69652;
}

.player-one-time {
    display: flex;
    text-align: left;
}

.app {
    height: auto;
    width: 60rem;
    margin: 0 auto;
    color: white;
}

.app-body {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
    background-color: #11133C;
}

.header {
    text-align: center;
    font-size: xx-large;
    width: 100%;
    font-kerning: auto;
    color: black;
    font-family: InterBold;
}